//colors
$accent: #777777;
$buttons-color: #393246;
$decorative-line: #878787;
$lines: #D5D5D5;

//mixins

@mixin menu-items-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.15em;
}
@mixin title-second-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 30px;
   line-height: 36px;
   letter-spacing: 0.08em;
   @media(min-width: 768px){
      font-size: 40px;
      line-height: 46px;
   }
}
@mixin title-third-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 20px;
   line-height: 25px;
   letter-spacing: 0.08em;
   @media(min-width: 768px){
      font-size: 30px;
      line-height: 45px;
   }
}
@mixin title-fourth-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.12em;
   @media(min-width: 768px){
      font-size: 20px;
      line-height: 27px;
   }
}
@mixin sub-title-font{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   line-height: 24px;
   @media(min-width: 768px){
      font-size: 18px;
      line-height: 27px;
   }
}
@mixin plain-text-font{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
}
@mixin background-image-settings{
   background-position: center bottom;
   background-size: cover;
   background-origin: padding-box;
}
@mixin buttons-effects{
   transition-duration: 0.3s;
   &:hover{
      background-color: $buttons-color;
      border: solid $buttons-color 1px;
      color: #FFFFFF;
   }
   &:active{
      background-color: #4A415A;
      border: solid $buttons-color 1px;
      color: #FFFFFF;
   }
}
@mixin menu-items-hover{
   &:hover{
      color: $buttons-color;
      border-bottom: solid $buttons-color 1px;
   }
}
