@import '_null';
@import '../../node_modules/normalize.css/normalize';
@import '_vars';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300&display=swap');
.wrapper{
   // start footer adjustment
   display: flex;
   flex-direction: column;
   min-height: 100%;
   // end footer adjustment
   width: 100%;
   // overflow-x: hidden;
}
.container{
   width: 290px;
   margin: 0 auto;
   // padding: 0 15px;
   @media(min-width: 768px){
      width: 676px;
   }
   @media(min-width: 1024px){
      width: 940px;
   }
   @media(min-width: 1408px){
      width: 1200px;
   }
}
.header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom: $decorative-line solid 1px;
   height: 70px;
   position: fixed;
   margin: 0 auto;
   width: 100%;
   @media(min-width: 768px){
      height: 105px;
      margin-right: 80px;
   }
   @media(min-width: 1024px){
      margin-right: 0px;
      margin-left: 10px;
   }
   &__content{
      display: flex;
      align-items: center;
   }
   &__contact-info{
      flex: 1;
      display: flex;
      justify-content: center;
      @media(min-width: 768px){
         justify-content: flex-end;
      }
      @media(min-width: 1024px){
         flex: 0 0 auto;
         padding-left: 27px;
      }
   }
   &__contact-phone{
      @include menu-items-font;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      letter-spacing: 0.05em;
      position: relative;
      left: 12px;
      @media(min-width: 768px){
         margin-right: 80px;
         font-size: 18px;
         line-height: 21px;
         left: 0;
      }
      @media(min-width: 1024px){
         margin-right: 0px;
      }
      &::before{
         content: url(../icons/icon-phone.svg);
         position: absolute;
         left: -27px;
         top: -4px;
         width: 21px;
         height: 21px;
      }
      
   }
   &__menu-icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      // flex: 0 0 auto;
      height: 19px;
      width: 40px;
      position: relative;
      border-top: solid #FFFFFF 3px;
      border-bottom: solid #FFFFFF 3px;
      @media(min-width: 1024px){
         display: none;
      }
   }
   &__menu-icon-item{
      width: 100%;
      height: 3px;
      background-color: white;
   }
}
.logo{
   // flex: 0 0 auto;
   width: 30px;
   height: 30px;
   background: transparent;
   @media(min-width: 768px){
      width: 45px;
      height: 45px;
   }
   &__image{
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}
.navigation{
   display: none;
   position: relative;
   left: 16px;
   @media(min-width: 1024px){
      display: block;
      flex: 1;
   }
   &__list{
      flex: 1;
      display: flex;
      justify-content: center;
   }
   &__list-item{
      &:nth-child(2){
         margin: 0 50px;
      }
   }
   &__link{
      text-transform: uppercase;
      @include menu-items-font;
      color: #FFFFFF;
      &:hover{
         border-bottom: solid #FFFFFF 1px;
      }
   }
}


.main{
   flex: 1 0 auto;
}
.initial-screen{
   background: url(../img/initial-screen.png), no-repeat;
   @include background-image-settings;
   z-index: 1;
   @media(min-width: 768px){
      background: url(../img/initial-screen-1024.png), no-repeat;
      @include background-image-settings;
   }
   @media(min-width: 1024px){
      background: url(../img/initial-screen-1920.png), no-repeat;
      @include background-image-settings;
   }
   &__body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 480px;
      background-color: rgba($color: #000000, $alpha: 0.6);
      z-index: 2;
      @media(min-width: 768px){
         height: 600px;
      }
      @media(min-width: 1024px){
         height: 800px;
      }
   }
   &__content{
      text-align: center;
      // position: relative;
      // top: -70px;
   }
   &__title{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.08em;
      color: #FFFFFF;
      margin-bottom: 10px;
      text-transform: uppercase;
      @media(min-width: 768px){
         font-size: 140px;
         line-height: 164px;
      }
   }
   &__text{
      @include title-fourth-font;
      color: #FFFFFF;
      max-width: 648px;
      margin: 0 auto;
   }
}

.about{
   margin-top: 70px;
   @media(min-width: 768px){
      margin-top: 150px;
   }
   &__content{
      width: 100%;
      margin: 0 auto;
   }
   &__title{
      @include title-second-font;
      color: $accent;
      margin-bottom: 23px;
      @media(min-width: 768px){
         margin-bottom: 30px;
         max-width: 442px;
      }
      @media(min-width: 768px){
         margin-bottom: 50px;
         max-width: initial;
      }
   }
   &__content{
      @media(min-width: 1024px){
         display: flex;
         column-gap: 50px;
      }
      @media(min-width: 1408px){
         column-gap: 102px;
      }
   }
   &__flex-column{
      &:first-child{
         flex: 1;
      }
      &:last-child{
         flex: 0 0 450px;
         @media(min-width: 1408px){
            flex: 0 0 585px;
         }
      }
   }
   &__description{
      @include sub-title-font;
      color: $accent;
      margin-bottom: 39px;
      @media(min-width: 768px){
         margin-bottom: 30px;
         max-width: 442px;
      }
      @media(min-width: 1024px){
         margin-bottom: 50px;
         max-width: none;
      }
   }
   &__list-item{
      border-top: solid 1px $lines;
      padding: 25px 0;
      width: 100%;
      &:last-child{
         border-bottom: solid 1px $lines;
         margin-bottom: 47px;
      }
   }
   &__list-item-title-container{
      position: relative;
      z-index: 2;
      background-color: #FFFFFF;
      &::after{
         content: url('../icons/icon_arrow.svg');
         height: 30px;
         width: 30px;
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
      }
      &:hover{
         cursor: pointer;
      }
   }
   &__list-item-title-container--active{
      &::after{
         content: url('../icons/icon_arrow_up.svg');
         height: 30px;
         width: 30px;
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
      }
   }
   &__list-item-title{
      @include title-fourth-font;
      color: $accent;
      text-transform: uppercase;
      max-width: 236px;
      &:hover{
         color: $buttons-color;
      }
      @media(min-width: 768px){
         max-width: 442px;
      }
   }
   &__list-item-text-container{
      margin-top: 15px;
      display: none;
      overflow-y: hidden;
   }
   &__list-item-text-container--active{
      display: block;
   }
   &__list-item-text{
      @include plain-text-font;
      color: $accent;
      opacity: 0;
      // position: relative;
      // top: -100px;
      transition: all linear 0.4s;
      margin-right: 35px;
   }
   &__list-item-text--active{
      // top: 0;
      opacity: 1;
   }
   &__image-container{
      margin: 0 auto;
      width: 100%;
      height: 39vh;
      overflow: hidden;
      @media(min-width: 768px){
         height: 528px;
         max-height: initial;
         max-width: initial;
      }
      @media(min-width: 1024px){
         width: 100%;
      }
   }
   &__image-container--inside{
      display: none;
      @media(min-width: 768px){
         display: block;
      }
   }
   &__image-container--outside{
      @media(min-width: 768px){
         display: none;
      }
   }
   &__image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
      @media(min-width: 1024px){
         object-position: 56% bottom;
      }
   }
}


.portfolio{
   margin-top: 66px;
   margin-bottom: 66px;
   @media(min-width: 768px){
      margin-top: 109px;
   }
   &__content{
      // margin: 0 auto;
   }
   &__title{
      @include title-second-font;
      text-transform: uppercase;
      color: $accent;
      text-align: center;
      margin-bottom: 39px;
      @media(min-width: 768px){
         margin-bottom: 59px;
      }
   }
   &__menu-body{
      margin-bottom: 30px;
      overflow-x: auto;
      touch-action: pan-x;
   }
   &__menu-list{
      width: 580px;
      display: flex;
      justify-content: space-between;
      @media(min-width: 768px){
         width: 662px;
         margin: 0 auto;
         border-bottom: solid $lines 1px;
      }
   }
   &__menu-button{
      @include menu-items-font;
      text-transform: uppercase;
      color: $buttons-color;
      background: transparent;
      // border: none;
      padding-bottom: 10px;
      &:hover{
         color: #000000;
      }
   }
   &__menu-button--selected{
      border-bottom: solid $buttons-color 2px;
   }
   &__gallery{
      display: grid;
      margin: 0 auto 52px;
      width: 100%;
      row-gap: 10px;
      grid-template-rows: 471px;
      @media(min-width: 768px){
         margin: 0 auto 40px;
         grid-template-columns: repeat(2, minmax(auto, 322px));
         // grid-template-rows: repeat(10, 322px);
         grid-template-rows: none;
         column-gap: 30px;
         row-gap: 30px;
      }
      @media(min-width: 1024px){
         grid-template-columns: repeat(4, 1fr);
         column-gap: 20px;
         row-gap: 20px;
      }
   }
   &__gallery-item{
      overflow: hidden;
      min-height: 290px;
      position: relative;
      &:hover .portfolio__gallery-item-mask{
         opacity: 1;
      pointer-events: all;
      }
      @media(min-width: 768px){
      min-height: auto;
      }
   }
   &__gallery-item--height{
      @media(min-width: 768px){
         grid-row-start: span 2;
      }
   }
   &__gallery-item--width{
      @media(min-width: 768px){
         grid-column-start: span 2;
      }
   }
   &__gallery-item--additional{
      display: none;
   }
   &__gallery-item-mask{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      transition: all 0.3s;
      cursor: pointer;
   }
   &__gallery-item-mask-title{
      text-transform: uppercase;
      @include title-fourth-font;
      color: #FFFFFF;
      margin-bottom: 10px;
   }
   &__gallery-item-mask-subtitle{
      @include sub-title-font;
      color: #FFFFFF;
   }
   &__gallery-image{
      opacity: 1;
      scale: 1;
      transition: all linear 0.4s;
      z-index: 2;
      width: 100%;
      height: 100%;
      // // min-height: 220px;
      // max-height: 471px;
      object-fit: cover;
      object-position: center bottom;
      @media(min-width: 768px){
         // max-height: 100%;
         // max-height: none;
      }
   }
   &__gallery-image--additional{
      opacity: 0;
      scale: 0;
   }
   &__button{
      display: block;
      width: 290px;
      height: 60px;
      border: solid $buttons-color 1px;
      color: $buttons-color;
      @include menu-items-font;
      @include buttons-effects;
      text-transform: uppercase;
      background-color: #FFFFFF;
      margin: 0 auto 75px;
      @media(min-width: 768px){
         margin: 0 auto 99px;
      }
      @media(min-width: 1024px){
         margin: 0 auto 129px;
      }
   }
   &__button--hidden{
      display: none;
   }
   &__form-link-wrapper{
      width: fit-content;
      margin: 0 auto;
      // display: block;
   }
   &__form-link{
      @include title-second-font;
      text-transform: uppercase;
      color: $accent;
      border-bottom: solid $lines 1px;
      cursor: pointer;
      @include menu-items-hover;
      &::after{
         content: url(../icons/group.svg);
         position: relative;
         width: 16px;
         height: 16px;
         top: -13px;
         left: 10px;
      }
   }
}

.footer{
   flex: 0 0 auto;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #F7F7F7;
   &__container{
      margin: 0 auto;
   }
   &__instagram-link{
      margin: 0 auto 30px;
      text-align: center;
   }
   &__instagram-link-item{
      text-transform: uppercase;
      @include menu-items-font;
      color: $accent;
      margin: 0 15px;
   }
   &__copyrights{
      margin: 0 auto;
      text-align: center
   }
   &__copyrights-text{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      color: #878787;
   }
}