@import '_null';
@import '../../node_modules/normalize.css/normalize';
@import '_vars';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300&display=swap');
.wrapper{
   // start footer adjustment
   display: flex;
   flex-direction: column;
   min-height: 100%;
   // end footer adjustment
   width: 100%;
   overflow-x: hidden;
}
.container{
   width: 290px;
   margin: 0 auto;
   // padding: 0 15px;
   @media(min-width: 768px){
      width: 676px;
   }
}
.header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom: $decorative-line solid 1px;
   height: 70px;
   position: fixed;
   margin: 0 auto;
   top: 0;
   left: 0;
   right: 0;
   &__content{
      display: flex;
      align-items: center;
   }
   &__contact-info{
      flex: 1;
      display: flex;
      justify-content: center;
      @media(min-width: 768px){
         justify-content: flex-end;
      }
   }
   &__contact-phone{
      @extend %menu-items-font;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      letter-spacing: 0.05em;
      position: relative;
      left: 15px;
      &::before{
         content: url(../icons/icon-phone.svg);
         position: absolute;
         left: -28px;
         top: -2px;
         width: 21px;
         height: 21px;
      }
      @media(min-width: 768px){
         margin-right: 80px;
      }
   }
   &__menu-icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      // flex: 0 0 auto;
      height: 19px;
      width: 40px;
      position: relative;
      border-top: solid #FFFFFF 3px;
      border-bottom: solid #FFFFFF 3px;
      @media(min-width: 1024px){
         display: none;
      }
   }
   &__menu-icon-item{
      width: 100%;
      height: 3px;
      background-color: white;
   }
}
.logo{
   // flex: 0 0 auto;
   width: 30px;
   height: 30px;
   background: transparent;
}
.navigation{
   display: none;
   @media(min-width: 1024px){
      display: block;
   }
   &__link{
      text-transform: uppercase;
      @extend %menu-items-font;
   }
}


.main{
   flex: 1 0 auto;
}
.initial{
   background: url(../img/initial.png);
   background-position: bottom;
   background-repeat: none;
   background-size: cover;
   z-index: 1;
   @media(min-width: 768px){
   background: url(../img/initial-768.png);
   background-position: bottom center;
}
   &__body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 480px;
      background-color: rgba($color: #000000, $alpha: 0.6);
      z-index: 2;
      @media(min-width: 768px){
         height: 600px;
      }
   }
   &__content{
      text-align: center;
      // position: relative;
      // top: -70px;
   }
   &__title{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.08em;
      color: #FFFFFF;
      margin-bottom: 10px;
      text-transform: uppercase;
   }
   &__text{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.12em;
      color: #FFFFFF;
   }
}


.footer{
   flex: 0 0 auto;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #F7F7F7;
   &footer__container{
      margin: 0 auto;
   }
   &__instagram-link{
      margin: 0 auto 30px;
      text-align: center;
   }
   &__instagram-link-item{
      text-transform: uppercase;
      @extend %menu-items-font;
      color: $accent;
      margin: 0 15px;
   }
   &__copyrights{
      margin: 0 auto;
      text-align: center
   }
   &__copyrights-text{
      // @extend %menu-items-font;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      color: #878787;
   }
}